/imagen/**
!/imagen/minix3hd.7z
log_e9.bin

/imagen/**
!/imagen/minix3hd.7z

/trabajo/**
!/trabajo/
!/trabajo/bin/
!/trabajo/bin/*

/utilidades/qemu/

# Tras la subida inicial, no es necesario registrar los cambios aquí.
id.txt

/src/MINIX/